name: CI

on:
  push:
    branches: [prod]

jobs:
  codecommit:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::616520069289:role/GithubActionODCIAssumeRole
          role-session-name: GithubActionODCIAssumeRole
          aws-region: ap-southeast-1

      - name: Set Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install Deps
        run: |
          pip install git-remote-codecommit

      - name: Set Origin
        env:
            AWS_CODECOMMIT_REPO_URL: ${{ secrets.AWS_CODECOMMIT_REPO_URL }}
        run: |
          git remote add codecommit codecommit::ap-southeast-1://cowarcade-main-app
          git remote -v

      - name: Push Code
        run: |
          git push codecommit prod --force

      # - name: Show Secret
      #   env:
      #     AWS_CODECOMMIT_REPO_URL: ${{ secrets.AWS_CODECOMMIT_REPO_URL }}
      #   run: |
      #     echo $AWS_CODECOMMIT_REPO_URL

      # - name: Push CodeCommit
      #   env:
      #     AWS_CODECOMMIT_GIT_USERNAME: ${{ secrets.AWS_CODECOMMIT_GIT_USERNAME }}
      #     AWS_CODECOMMIT_GIT_PASSWORD: ${{ secrets.AWS_CODECOMMIT_GIT_PASSWORD }}
      #   run: |
      #     git config --global user.name GithubActionUser-at-616520069289
      #     git config --global user.name

      #     git config --global user.password nILzRgi+ZfBbJLjvEoMqQAEQMh2svjqpdXfVx/Q6n3s=
      #     git push codecommit prod
