name: CI

on:
  push:
    branches: [prod]

jobs:
  codecommit:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::616520069289:role/GithubActionODCIAssumeRole
          role-session-name: GithubActionODCIAssumeRole
          aws-region: ap-southeast-1


      - name: Set Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install Deps
        run: |
          pip install git-remote-codecommit

      - name: Zip All Content in directory except .git
        run: |
          zip -r source.zip . -x ".git"

      - name: Clone App
        run: |
          mkdir app
          cd app
          pip install git-remote-codecommit
          git clone codecommit::ap-southeast-1://cowarcade-main-app
          ls -lash

      - name: Remove All Clone App Except .git
        run: |
          find . ! -name '.git' -type f -exec rm -f {} +
          rm -r -f
          ls -lash

      - name: Copy source into app and unzip
        run: |
          ls -lash
          mv source.zip ./app
          unzip source.zip

      - name: Check git status
        run: |
          git status
          git remote -v

      # - name: Show Dir App
      #   run: |
      #     echo "root dir"
      #     ls -lash

      #     echo "app dir"
      #     cd clone-app
      #     ls -lash

      # - name: Add Origin CodeCommit
      #   env:
      #     AWS_CODECOMMIT_REPO_URL: ${{ secrets.AWS_CODECOMMIT_REPO_URL }}
      #   run: |
      #     git remote add codecommit $AWS_CODECOMMIT_REPO_URL
      #     git remote -v

      # - name: Push CodeCommit
      #   env:
      #     AWS_CODECOMMIT_GIT_USERNAME: ${{ secrets.AWS_CODECOMMIT_GIT_USERNAME }}
      #     AWS_CODECOMMIT_GIT_PASSWORD: ${{ secrets.AWS_CODECOMMIT_GIT_PASSWORD }}
      #   run: |
      #     git config --global user.name GithubActionUser-at-616520069289
      #     git config --global user.name

      #     git config --global user.password nILzRgi+ZfBbJLjvEoMqQAEQMh2svjqpdXfVx/Q6n3s=
      #     git push codecommit prod
