name: CI

on:
  push:
    branches: [prod]

jobs:
  codecommit:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::616520069289:role/GithubActionODCIAssumeRole
          role-session-name: GithubActionODCIAssumeRole
          aws-region: ap-southeast-1

      - name: Clone repo code commit
        run: |
          ls -lash
          mkdir clone-app
          cd clone-app
          git clone https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cowarcade-main-app

      - name: Show dir
        run: |
          echo show dir
          ls -lash

      # - name: Add Origin CodeCommit
      #   env:
      #     AWS_CODECOMMIT_REPO_URL: ${{ secrets.AWS_CODECOMMIT_REPO_URL }}
      #   run: |
      #     git remote add codecommit $AWS_CODECOMMIT_REPO_URL
      #     git remote -v

      # - name: Push CodeCommit
      #   env:
      #     AWS_CODECOMMIT_GIT_USERNAME: ${{ secrets.AWS_CODECOMMIT_GIT_USERNAME }}
      #     AWS_CODECOMMIT_GIT_PASSWORD: ${{ secrets.AWS_CODECOMMIT_GIT_PASSWORD }}
      #   run: |
      #     git config --global user.name GithubActionUser-at-616520069289
      #     git config --global user.name

      #     git config --global user.password nILzRgi+ZfBbJLjvEoMqQAEQMh2svjqpdXfVx/Q6n3s=
      #     git push codecommit prod
