name: CI

on:
  push:
    branches: [prod]

env:
  CODE_COMMIT_REPO_URL: https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cowarcade-main-app

jobs:
  codecommit:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::616520069289:role/GithubActionODCIAssumeRole
          role-session-name: GithubActionODCIAssumeRole
          aws-region: ap-southeast-1

      - name: Add Origin CodeCommit
        env:
          AWS_CODECOMMIT_URL_2: ${{ secrets.AWS_CODECOMMIT_URL_2 }}
        run: |
          git remote add codecommit $AWS_CODECOMMIT_URL_2
          git remote -v

      - name: Push CodeCommit
        run: |
          git push codecommit prod
