name: CI

on:
  push:
    branches: [prod]

env:
  CODE_COMMIT_REPO_URL: https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cowarcade-main-app
  AWS_CODECOMMIT_URL1: ${{ secrets.ENV_APP }}
  AWS_CODECOMMIT_URL2: ${{ secrets.ENV_APP.AWS_CODECOMMIT_URL }}
  # AWS_CODECOMMIT_URL3: ${{ ENV_APP }}
  # AWS_CODECOMMIT_URL4: ${{ ENV_APP.AWS_CODECOMMIT_URL }}
  # AWS_CODECOMMIT_URL5: ${{ AWS_CODECOMMIT_URL }}

jobs:
  codecommit:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::616520069289:role/GithubActionODCIAssumeRole
          role-session-name: GithubActionODCIAssumeRole
          aws-region: ap-southeast-1

      - name: List All Repository
        run: |
          aws codecommit list-repositories
          ls -lash

      - name: Show ENV
        run: |
          echo "All -> $env"
          echo "AWS_CODECOMMIT_URL1 -> $AWS_CODECOMMIT_URL1"
          echo "AWS_CODECOMMIT_URL2 -> $AWS_CODECOMMIT_URL2"

      - name: Add Origin CodeCommit
        run: |
          echo "CodeCommit URL-> $CODE_COMMIT_REPO_URL"
          git remote add codecommit $CODE_COMMIT_REPO_URL
          git remote add codecommit-new $AWS_CODECOMMIT_URL
          git remote -v

      - name: Push CodeCommit
        run: |
          git push codecommit prod
